.Rproj.user
.Rhistory
.RData
.DS_Store
.Rapp.history
.gitignore
beetle_tree/.DS_Store
beetle_tree/1000_trees.tre
beetle_tree/beetle_tree.Rproj
beetle_tree/do_random_trees.sh
beetle_tree/final_1000_trees.tre
beetle_tree/final_100_trees.tre
beetle_tree/make_random_trees.Rout
beetle_tree/make_trees.err
beetle_tree/make_trees.out
behavior-topic-models/.DS_Store
behavior-topic-models/behavior-topic-models.Rproj
behavior-topic-models/behavior_counts.pdf
diversity/.DS_Store
diversity/PD_S_correlation.pdf
diversity/abundance_S_correlation.pdf
diversity/boxplots_diversity.pdf
diversity/mpd_unweighted.csv
diversity/mpd_weighted.csv
diversity/phylogenetic_diversity.Rproj
diversity/rarefaction.pdf
diversity/table_families_trap.csv
make_data_table/
old_files/
